.body {
  height: 500px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: green;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
}
.checker {
  height: 200px;
  margin-top: 100px;
}
.strength {
  margin-top: 20px;
  display: inline-block;
}

.output {
  margin-top: 20px;
  width: 300px;
  height: 20px;
  background-color: cornsilk;
  margin-left: 150px;
  border-style: inset;
  border-radius: 5px;
  border-color: black;
  font-weight: bold;
}

.content {
  width: 300px;
  background-color: cornsilk;
  height: 20px;
  margin-top: 20px;
  margin-left: 150px;
}
.output1 {
  margin-top: 20px;
  width: 300px;
  height: 20px;
  background-color: cornsilk;
  margin-left: 150px;
  margin-bottom: 20px;
  border-style: inset;
  border-radius: 5px;
  border-color: black;
  font-weight: bold;
}
.pass {
  font-weight: bolder;
  border-radius: 5px;
  border-style: outset;
  border-color: black;
}
.OTP {
  font-weight: bolder;
  border-radius: 5px;
  border-style: outset;
  border-color: black;
}
.copy {
  margin-top: 20px;
  border-color: black;
  border-style: double;
  border-radius: 7px;
  margin-bottom: 20px;
}
.copy1 {
  border-color: black;
  border-style: double;
  border-radius: 7px;
  margin-bottom: 30px;
}
.mid {
  border: 10px solid green;
  border-radius: 5px;
}
.show {
  width: 20px;
  height: 10px;
  display: inline;
}
.input {
  display: inline-block;
  height: 20px;
}
.container {
  height: 200px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: lightpink;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
}
form .field input:focus {
  border-color: #27ae60;
  box-shadow: inset 0 0 3px #2fd072;
}
form .indicator {
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
form .indicator span {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
form .indicator span:nth-child(2) {
  margin: 0 3px;
}
form .indicator span.active:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.indicator span.weak::before {
  background-color: red;
}
.indicator span.medium:before {
  background-color: orange;
}
.indicator span.strong:before {
  background-color: #23ad5c;
}
form .text.weak {
  color: red;
}
form .text.medium {
  color: orange;
}
form .text.strong {
  color: #23ad5c;
}
div.text {
  background-color: whitesmoke;
  font-weight: bolder;
}
.total {
  z-index: 0;
  background-image: url("depositphotos_69147125-stock-photo-colorful-psychedelic-mandala-pattern-unique.jpg");
  width: 620px;
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}
.foot {
  margin-top: 250px;
  background-color: honeydew;
  font-weight: bolder;
}
.intro {
  background-color: honeydew;
}
.git_image {
  width: 40px;
  height: 40px;
  display: inline;
  align-items: right;
}
.me {
  display: inline;
}
